<ul>
  <li><strong>Ruby:</strong> <%= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}" %></li>
  <li><strong>Rails:</strong> <%= Rails.version %></li>
  <li><strong>Rails environment:</strong> <%= Rails.env %></li>
</ul>
